<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{editevent}">Muokkaa tapahtumaa</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="/js/internationalization.js"></script>
</head>
<body>
<div class="container">
	<div class="col-md-4" style="padding:5px 0">
		<h2 th:text="#{editevent}">Muokkaa tapahtumaa</h2>
	</div>
	<!-- <div class="col-md-4" style="padding:5px 0; float:right">
		<select id="locales">
		    <option value="" th:text="#{lang.change}"></option>
		    <option value="fi" th:text="#{lang.fi}"></option>
		    <option value="en" th:text="#{lang.en}"></option>
		</select> 
	</div>-->
	<div>
		<form th:object="${event}" th:action="@{/save-event}" action="#" method="post">
		  	<input type="hidden" th:field="*{id}" />
		  	<label for="name" th:text="#{name}">Nimi</label>
			<input type="text" th:field="*{name}" required/>
			<br><br>
			<label for="description" th:text="#{event.desc}">Kuvaus</label>
			<input type="text" th:field="*{description}" required/>
			<br><br>
			<label for="type"  th:text="#{event.type}">Tapahtuman tyyppi</label>
			<input type="text" th:field="*{type}" required/>
			<br><br>
			<label for="date" th:text="#{event.start}">Alkaa</label>
			<input type="date" th:field="*{startDate}" required/>
			<br><br>
			<label for="endDate" th:text="#{event.end}">Loppuu</label>
			<input type="date" th:field="*{endDate}" required/>
			<br><br>
			<label for="place" th:text="#{event.place}">Paikka</label>
			<input type="text" th:field="*{place}" required/>
			<br><br>
			<label for="targetGroup" th:text="#{event.targetgroup}">Kenelle suunnattu</label>
			<input type="text" th:field="*{targetGroup}" required/>
			<br><br>
			<label for="leaders" th:text="#{event.leader}">Vastuujohtaja:</label>
			  <select name="leaders" th:field="*{leader}" >	
			    <option th:each = "leader : ${leaders}" 
			    th:value = ${leader.id} th:text = ${leader.name}></option>
			  </select>
			 <br>
			<a th:href="@{/eventlist}" class="btn btn-danger" th:text="#{cancel}">Peruuta</a>
			<input type="submit" value="Save"></input>
		</form>
	</div>
</div>
</body>
</html>